// Canvas Dependencies //

$arimo: 'Arimo', sans-serif;
$patua: 'Patua One', cursive;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;


@import "dependencies/bootstrap.scss";
@import "dependencies/style.scss";
@import "dependencies/swiper.scss";
@import "../css/font-icons";
@import "dependencies/animate.scss";
@import "dependencies/responsive.scss";
@import "dependencies/navbar.scss";
@import "dependencies/footer.scss";
@import "dependencies/phone-slug.scss";
@import "dependencies/contact-modal.scss";
@import "dependencies/specials.scss";
@import "dependencies/location-section.scss";
@import "dependencies/slides.scss";
@import "dependencies/meet-the-team.scss";
@import "dependencies/reviews.scss";
@import "dependencies/no-insurance.scss";
@import "dependencies/office-tour.scss";
@import "dependencies/services.scss";
@import "dependencies/service-modal.scss";


// End Canvas Dependencies //


// Variables to define first //

$secondary-font: 'Open Sans', sans-serif;
$third-font: 'Roboto Condensed', sans-serif;
$button-color: orange;
$button-hover:gray;


// CSS //

body {
}

h1 {
  font-size:64px;
}

h2 {
  font-size:48px;
}

h3 {
  font-size:36px;
}

h4 {
  font-size:28px;
}

h5 {
  font-size:24px;
}

h6 {
  font-size:20px;
}

p {
  font-size:18px;
}

.button, .button-2 {

  padding-top:2px;
  text-transform:uppercase;
  border-radius:5px;
  box-shadow:none;
}
.button {
  background:#FFF;
  color:#FA6D22;
  border:2px solid #FA6D22;
}
.button:hover {
  background:#FA6D22;
  color:#FFF;
  border:2px solid #FFF;
  text-shadow:none;
}

.button-2 {
  background:#FA6D22;
  border:none;
  color:#FFF;
  &:hover {
    background:#E2631F;
    border:none;
  }
}
.content-wrap {
  padding:0;
}
