
.google-map {
  img {
    width:100%;
    z-index:50;
    position:relative;
  }
  position:relative;
  z-index:55;
}

#contact {
  z-index:99;
  position:relative;
  background:#747357;
  .row {
    display:flex;
    @media (max-width:991px) {
      display:initial;
    }
  }
  .col-md-4 {
    text-align:center;
    padding:50px 0;
  }
  .col-md-4:nth-child(1), .col-md-4:nth-child(2) {
    border-right:2px solid #FFF;
    @media (max-width:991px) {
      border-right:none;
    }
  }

  .col-1 {
    @media (max-width:991px) {
      padding-top:150px;
    }
  }
  h6 {

    font-family: $patua;
    font-size: 24px;
    color: #FFFFFF;
    font-weight:400;
    margin-bottom:30px;
  }
  p {
    font-family: $arimo;
    font-weight:400;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom:0;
  }
  .p-2 {
    margin-bottom:50px;
  }
  .p-3 a {
    font-family: $arimo;
    font-size: 20px;
    color: #CFCA87;
    letter-spacing: 0;
    line-height: 25px;
    text-decoration:underline;
  }
  .p-3 {
    margin-bottom:35px;
  }
  .social-wrap {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .col-2 {
    padding-top:160px;
    .p-1 {
      font-family: $arimo;
      margin-bottom:10px;
      font-size: 20px;
      color: #FFFFFF;
    }
    .p-2 {
      font-family: $patua;
      font-size: 36px;
      color: #FFFFFF;
      margin-bottom:30px;
      a {
        color:#FFF;
      }
    }
    .p-3 {
      font-family: $arimo;
      font-size: 20px;
      color: #FFFFFF;
      margin-bottom:40px;
      a {
        color:#FFF;
      }
    }
    a:hover {
      text-decoration:none;
    }
    a {
      text-decoration:none;
    }
    .button {
      width:300px;
      font-size:16px;
      padding-top:5px;
      @media (max-width:480px) {
        width:280px;
        padding-left:20px;
        padding-right:20px;
      }
    }
  }
  .col-3 {
    display:flex;
    padding-top:0;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    .p-1 {
      margin-bottom:0;
      font-family: $patua;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 25px;
      width:100%;
      margin-top:-20px;
    }
    .days {
      display:flex;
      margin-top:-50px;
      position:relative;
      top:-100px;

      flex-direction:column-reverse;

      p {
        margin-top:-50px;
        margin-left:50px;
        width:10%;
        font-family: $arimo;
        font-weight:700 !important;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 29px;
        @media (max-width:1200px) {
          margin-left:30px;
        }
      }
    }
    .times {
      position:relative;
      top:-100px;
      margin-top:-50px;
      display:flex;
      flex-direction:column-reverse;

      p {
        text-align:left;
        margin-left:50px;
        margin-top:-50px;
        width:100%;
        font-family: $arimo;
        font-size: 18px;
        font-weight:400;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 29px;
        @media (max-width:480px) {
          margin-left:20px;

        }
      }
    }
    .hour-block {
      display:flex;
      justify-content:space-between;
      align-self:center;
    }
  }
  .col-2 {
    @media (max-width:991px) {
      padding-top:0;
    }
  }
  .col-3 {
    @media (max-width:991px) {
      padding-top:120px;
      flex-direction:column-reverse;
      position:relative;
      top:-30px;
      .p-1 {
        margin-top:-170px;
      }
    }
  }

}
#contact > .col-3 > .p-1 {
  font-weight:700 !important;
}
.img-wrap {
  padding:15px;
  background:#FFF;
  width:225px;
  height:225px;
  margin:0 auto;
  margin-top:-100px;
  z-index:9999;
  position:absolute;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.50);
  border-radius: 6px;
}

.top-logo{
  display:flex;
  justify-content:center;
  z-index:100;
  position:relative;
  background:black;
}
#contact > div > div > div.col-md-4.col-3 > div > div.days > p {
  font-weight:700;
}

.p-time {
  @media (max-width:480px) {
    display:none;
  }
}

.p-time-2, .p-time-3 {
  display:none !important;
  @media (max-width:480px) {
    display:inherit !important;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .p-time-2, .p-time-3 {
    display:inherit !important;
  }
  .p-time {
    display:none;
  }
}
#contact {
  height:auto !important;

}

#contact .col-2 .p-3 {
  @media (max-width:480px) {
    font-size:18px;
  }
}

#contact .p-1, #contact .p-3 {
  @media (max-width:480px) {
    font-size:18px;
  }
}

#google-map {
  max-height:475px;
}