#meet-the-team {
  @media (min-width:1201px) {
    padding-top:150px;
  }
  padding:50px 0;
  h2 {
    font-family: $patua;
    font-size: 48px;
    color: #3E6610;
    margin-bottom:20px;
    line-height: 40px;

  }
  h6 {
    font-size:18px;
    font-family:$arimo;
    font-weight:400;
    color:#5C5C5C;
    margin-bottom:40px;
  }
  @media (max-width:500px) {
    h2 {
      font-size:40px;
    }
  }
  .col-lg-8 {
    text-align:left;
  }
  p {
    font-family: $arimo;
    font-size: 16px;
    color: #424242;
    line-height: 24px;
  }
  h4 {
    font-family: $patua;
    font-size: 36px;
    color: #4F4F4F;
  }
  .row {
    background:#EDEDED;
    border:10px solid #F9F9F9;
    padding:15px 0;
  }
  .oc-portfolio {
    padding:30px;
  }
  .owl-nav {
    .owl-prev, .owl-next {
      opacity:1 !important;
      border:2px solid #FFF;
      background:#D7D7C8;
      display:flex;
      align-items:center;
      justify-content:center;
      color:#FFF;
      width:40px;
      height:40px;
      font-size:25px;
      &:hover {
        background:#C7C7B9 !important;
      }
    }
    .owl-prev{
      left:-24px;
    }
    .owl-next{
      right:-24px;
    }
  }
  @media (max-width:1200px) {
    img {
      width:25%;
      margin:0 auto;
      margin-bottom:5px;
    }
  }
  @media (max-width:991px) {
    img {
      width:50%;
    }
    h4 {
      font-size:28px;
    }
  }
  @media (max-width:480px) {
    img {
      width:70%;
    }
    h4 {
      font-size:20px;
    }

  }

}
