#office-tour {
  padding:50px 0;
  background:#4F4F4F;
  .center {
    h2 {
      font-family: $patua;
      font-size: 48px;
      color: #FFFFFF;
    }
    p {
      font-family: $arimo;
      font-size: 18px;
      color: #FFFFFF;
      line-height: 27px;
      a {
        color:#F79B6A;
        text-decoration:underline;
      }
    }
  }
  .owl-dots {
    display:none;
  }
  .owl-nav {
    .owl-prev, .owl-next {
      opacity:1 !important;
      background:#ADB3A4;
      color:#FFF;
      font-size:24px;
      display:flex;
      align-items:center;
      justify-content:center;
      border-width:2px;
      &:hover {
        background:#979C8F !important;
      }
      @media (max-width:1200px) {
        top:60%;
      }

    }
    .owl-prev {
      left:-18px;
    }
    .owl-next {
      right:-18px;
    }
  }

}