

#slider {
}

.phone-slug {
  .row {
    background:#D7D7C8;
    border-radius:9px;
    margin:0 auto;
    position:absolute;
    z-index:9999;
    margin-top:-80px;



  }
  .new-text {
    font-family:$arimo;
    color:#424242;
    font-size:22px;
    margin-bottom:-15px;
  }
  .new-phone {
    font-family:$montserrat;
    color:#535353;
    font-weight:700;
    font-size:36px;
    margin-bottom:0;
    margin-top:-10px;


  }
  .old-text {
    font-family: $arimo;
    font-weight:400;
    font-size: 22px;
    color: #424242;
    margin-bottom:-5px;
    line-height: 35px;
  }
  .col-sm-4 {
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
    padding:50px 0;
  }
  .col-2 {
    padding:62px 0;
  }
  .old-phone {
    font-family: $montserrat;
    font-weight:400;
    font-size: 22px;
    color: #424242;
    line-height: 35px;
    margin-bottom:0;
  }
  p {
    width:100%;
    text-align:center;
    margin-bottom:0;
  }
  a {
    text-align:center;
  }
  .col-1, .col-2 {
    border-right:2px solid #FFF;
  }
  .button {
    width:330px;
    font-size:18px;
  }
  a:hover {
    text-decoration:none;
  }

}