/** SPECIALS **/



#specials  {
  background:url(../images/specials-bg.jpg) no-repeat;
  padding:50px 0;
  background-size:cover;
  background-attachment:fixed;
  h2 {
    margin-bottom:0;
    line-height:50px !important;
    font-family: $patua;
    font-size: 48px;
    font-weight:400;
    color: #3E6610;
    @media (max-width:500px) {
      font-size:40px;
    }
  }
  h3 {
    font-family: $arimo;
    font-weight:700;
    font-size: 32px;
    color: #5C5C5C;
    @media (max-width:500px) {
      font-size:22px;
    }
  }
  .new-patient {

  }
  .three-blocks {
    .specials-bottom {
      text-align:center;
      padding:7em 1em 0em 1em;
      .save {
        font-family:$arimo;
        font-weight:400;
        font-size:20px;
        text-align:center;
        margin-bottom:10px;
      }
      .label {
        font-family: $arimo;
        font-size: 14px;
        color: #999999;
        font-weight:400;
      }
      .description {
        font-family: $arimo;
        font-size: 18px;
        color: #999999;
        line-height:25px;
        font-weight:400;
        margin-bottom:10px;
      }
    }
    .specials-top {
      border-radius:6px;
      text-align:center;
      padding:1em;
      height:40%;
      padding-bottom:50px;
      margin-bottom:10px;
      @media (max-width:991px) {
        padding-bottom:75px;
      }
      @media (max-width:500px) {
      }
    }
    .specials-bottom {
      background:#FFF;
      border-radius:6px;
      height:320px;
      @media (max-width:500px) {
        height:350px;
      }
    }
    .specials-circle-wrap {
      text-align:center;
      display:flex;
      align-items:center;
      justify-content:center;

    }
    .specials-circle {
      color:#FFF;
      padding:1em;
      border:5px solid #FFF;
      position:relative;
      margin:-100px 0;
      border-radius:6px;

    }
    .dollar {
      font-family: $lato;
      font-size:36px;
      color:#FFF;
      top:-40px;
      position:relative;

    }
    .price {
      font-family: $patua;
      color:#FFF;
      font-weight:700;
      font-size:84px;
      left:-5px;
      position:relative;

    }
    display:flex;
    justify-content:space-between;
    @media (max-width:991px) {
      flex-wrap:wrap;
      justify-content:center;
    }
    .block {

    }
    #block-1 {
      .specials-top {
        background: #4DCEED;
        background:rgba(77,206,237, .85);
      }
      .specials-circle {
        background:#16A5CC;


      }
      .save {
        color:#16A5CC;
      }
    }
    #block-2 {
      .specials-top {
        background:rgba(173,156,42, .85);

      }
      .specials-circle {
        background:#D7BB00;
      }
      .save {
        color:#D7BB00;
      }
    }
    #block-3 {
      .specials-top {
        background:rgba(243,132,0, .85);
      }
      .specials-circle {
        background:#FF8800;
      }
      .save {
        color:#FF8800;

      }
    }
    .block {
      width:33.3333%;
      margin:1.3em;
      h6 {
        font-family: $arimo;
        font-size: 32px;
        color: #FFFFFF;
        letter-spacing: -0.5px;
        line-height: 35px;
        font-weight:400;
        margin-top:10px;
        margin-bottom:0;
      }

      h5 {
        font-family: $arimo;
        font-size: 32px;
        margin-bottom:0;
        color: #FFFFFF;
        letter-spacing: -0.5px;
        line-height: 35px;
        font-weight:700;
        @media (max-width:991px) {
          margin-bottom:10px;
        }
      }


      @media (max-width:991px) {
        width:60%;
        align-self:center;
      }
      @media (max-width:767px) {
        width:100%;
        margin-left:0;
        margin-right:0;
      }
    }
  }
}

